@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
  box-sizing: border-box;
  /* changes width property
  to total width instead of content width */
}

*:before,
*:after {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
  display: block;
/*
   just in case we have
  any older browsers that don't recognize
  the HTML5 semantic elements
*/
}

#page-header {
  display: flex;
  order:1;
  align-items: center;
  background-color: black;
}

#logo {
  font-size:4em;
  margin:0;
}

.site-name {
  font-size: 2em;
  font-weight: 600;
  font-family: Sansita, "gadget", generic-family;
  font-style: italic;
  font-size: 8vw;
  color:plum
}

nav {
  display: flex;
  order: 5;
  background-color: black;
  text-align: center;
  padding: 3px;
}

nav a:link {
  text-decoration: none;
  /*unvisited link*/
  color: #FFF;
}

nav a:visited {
  /*visited link*/
  color: plum;
}

nav a:hover,
a:focus {
  /*Link: hover, Link:Focus:*/
  color: blue;
}

nav ul {
  display: flex;
  list-style: none;
  flex-flow: row;
  align-items: center;
  padding-left: 0;
}

nav ul li {
  padding-right: 1em;
  font-size: 3vw;
}

Body {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

main {
  display: flex;
  order: 3;
  flex-flow: column nowrap;
  align-items: center;
  background-image: url("../images/th.jpg");
  background-size: cover;
  background-color: #FFF
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sansita, 'Geneva', generic-family;
  color: #0e89d5;
}

.home {
  background-color: rgba(200, 200, 200, .6);
  margin: 2em;
  border: 1px solid;
  border-radius: 60px;
  text-align: center;
}

.home h1 {
  text-align: center;
  color: black;
}
.home p {
  margin-left: 2em;
  margin-right: 2em
}

footer {
  display: flex;
  order: 4;
  line-height: 70px;
  background-color: #000;
}
small{
  color:plum;
}

@media screen and (min-width: 480px) {
  nav {
    order: 2;
  }
  nav ul li {
    font-size: 16px;
  }
  .site-name {
    font-size: 2em;
  }
}
