@import url('https://fonts.googleapis.com/css?family=Sansita');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sansita', sans-serif;
  color: #0e89d5;
}

Body {
  font-family: 'Helvetica', sans-serif;
}

#clear {
  list-style-type: circle;
}

ul.none{
  list-style-type: none;
}

