/*when on small screen*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
  box-sizing: border-box;
  /* changes width property
    to total width instead of content width */
}

*:before,
*:after {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
  display: block;
  /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}

#page-header {
  /*  align header and set background */
  display: flex;
  align-items: center;
  background-color: #0E89D5;
}

#logo {
  /*  change logo eliment size */
  font-size: 4em;
  margin: 0;
}

.site-name {
  /*  adust font in header */
  font-size: 2em;
  font-weight: 600;
  font-family: Sansita, "gadget", generic-family;
  font-style: italic;
}

nav {
  /*  move nav to bottom */
  display: flex;
  order: 4;
  background-color: #0E89D5;
  line-height: 3px;
  padding: 4px;
}

nav a:link {
  /*unvisited link*/
  text-decoration: none;
  color: #FFF;
}

nav a:visited {
  /*visited link*/
  color: #d8f;
}

nav a:hover,
a:focus {
  /*Link: hover, Link:Focus:*/
  color: #6C4DDD;
}

nav ul {
  /*    style of nav bar*/
  display: flex;
  list-style: none;
  padding-left: 0;
}

nav ul li {
  /*  sizing of nav bar*/
  padding-right: 1em;
  font-size: 4vw;
}

body {
  /* remove any margin and padding from body */
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

main {
  /*  add background image and styling components*/
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-image: url("/weather_data/images/plan-images/sunny-winter.jpg");
  background-size: cover;
  background-color: #FFF
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*  style fonts to headings */
  font-family: Sansita, 'Geneva', generic-family;
  color: #0e89d5;
}

.overview {
  /*  styles to overview info */
  padding: 0;
  border: 1px black solid;
  border-radius: 5px;
  margin: 2em;
  background-color: rgba(200, 200, 200, .6);
}

.overview h2 {
  display: none;
}

.overview h3 {
  text-align: center;
  color: black;
}

.overview p:before {
  content: " \2600";
}
.overview p{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.overview #overtext {
  display: none;
}

.cur_conditions {
  /*  styles to current conditions info */
  display: flex;
  flex-direction: column;
  order: 1;
  background-image: url("/weather_data/images/plan-images/raindrops.jpg");
  background-color: rgba(200, 200, 200, .6);
  margin: 2em auto;
  border: 1px solid;
  border-radius: 5px;
}

.cur_conditions h3 {
  text-align: center;
  color: black;
}

.cur_conditions ul {
  list-style: none;
  margin-right: 10px
}

.cur_conditions #condition {
  display: none;
}
.cur_conditions #condition:before{
  content: " \2600";
}

.hourly {
  /*  styles to hourly info, for small screen none */
  display: none;
}



footer {
  /*  footer alignment */
  line-height: 70px;
  margin-bottom: 3em;
  background-color: #0E89D5;
  order: 3;
}









/* when on large screen */

@media screen and (min-width: 400px) {
  * {
    box-sizing: border-box;
    /* changes width property
  to total width instead of content width */
  }

  *:before,
  *:after {
    box-sizing: border-box;
  }

  article,
  aside,
  footer,
  header,
  nav,
  section,
  main,
  figcaption,
  figure {
    display: block;
    /* just in case we have
  any older browsers that don't recognize
  the HTML5 semantic elements */
  }

  #page-header {
    /*  align header and set background */
    order: -2;
    background-color: #0E89D5;
  }

  nav {
    /*  move nav to top */
    display: flex;
    order: -1;
    background-color: #0E89D5;
    padding-right: 2px;
  }

  nav a:link {
    /*unvisited link*/
    color: #FFF;
  }

  nav a:visited {
    /*visited link*/
    color: #d8f;
  }

  nav a:hover,
  a:focus {
    /*Link: hover, Link:Focus:*/
    color: #6C4DDD;
  }

  nav ul li {
    /*  sizing font of nav bar*/
    font-size: 1em;
  }

  main h1{
    /*  add smaller margin to top and bottom*/
    margin:10px 0 10px;
  }

  .overview,
  .cur_conditions,
  .hourly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10em;
    flex-basis: 100%;
  }

  .overview h2,
  .cur_conditions h3,
  .hourly h2 {
    color: #000;
    font-size: 20px;
  }


  #where {
    order: -2;
  }

  #boxes{
    display:flex;

  }
  .overview {
    /* styles to overview info */
    margin: 0;
    padding: 5px;
    margin-right: 2vw;
    margin-bottom: 2vw;
  }

  .overview h2 {
    /* increase font for title*/
    display: inherit;
    margin: 0px;
    align-self: center;
    text-align: center

  }

  .overview h3 {
    margin: 10px;
    align-self: center;
  }

  .overview p {
    /*  align the text to center*/
    align-self: center;
    margin: 5px;
  }

  .cur_conditions {
    /*  styles to current conditions info */
    margin: 0;
    order: -1;
    padding: 5px;
    margin:0 2vw;
    margin-bottom: 2vw;
  }

  .cur_conditions h3 {
    align-self: center;
  }

  .cur_conditions ul {
    /*  list style */
    margin-top: 5px;
    font-size: 15px;
    margin:0 1vw;
    padding: 0;
  }

  .cur_conditions #condition {
    display: inherit;
  }
  .cur_conditions #condition:before{
    content: " \2600";
  }
  .hourly {
    /*  styles to hourly info, for small screen none */
    border: 1px black solid;
    border-radius: 5px;
    background-color: rgba(200, 200, 200, .6);
    padding: 5px;
    margin-right: 2vw;
    margin-bottom: 2vw;
  }

  .hourly h2 {
    /*    heading style */
    align-self: center;
    text-align: center;
    margin: 0;
  }

  .hourly ul {
    /*  list style */
    list-style: none;
    align-self: center;
    margin: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  nav {
    /*  move nav to top */
    background-color: #0E89D5;
    font-size: 4vw;
  }
}

